.modal-overlay {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 5;

  overflow: hidden;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 0;
  opacity: 0;

  transition: opacity 0.5s ease;

  &.is-open {
    height: 100vh;
    opacity: 1;
  }

  .modal-root {
    background-color: $color-white;
    padding: 1rem;
    width: 100%;
    max-width: 90%;
    position: relative;
    border-radius: 8px;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: $color-text;
}

.modal-body {
  padding: 1rem 0;

  > p {
    color: $color-text;
  }
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

@media (min-width: $breakpoint-small) {
  .modal-overlay {
    .modal-root {
      max-width: rem(500);
    }
  }
}
