.page-form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: rem(24);
}
.button-go-back {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    transform: rotate(180deg);
    margin-right: 4px;
  }
}
