.button {
  width: 100%;
  color: $color-white;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: rem(16) rem(24);
  background-color: $color-primary;
  border: 2px solid $color-primary;
  transition: background 0.5s ease;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
  }

  &:disabled {
    background-color: #dddddd;
    border-color: #dddddd;
    color: $color-text;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:disabled:hover {
    background-color: #dddddd;
    color: $color-black;
  }

  &.inverted {
    background-color: $color-white;
    color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
