.equipaments-section {
  .equipaments-wrapper {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 1fr;
    gap: rem(18);
  }

  .equipament-item {
    padding: rem(24) rem(16);
    padding-bottom: rem(16);
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    height: fit-content;

    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    &:nth-child(even) {
      background-color: $color-text;
      color: $color-white;

      p {
        color: $color-white;
      }
    }

    span {
      font-weight: 700;
    }
  }

  .equipament-info {
    display: flex;
    gap: 6px;
    flex-direction: column;

    &:last-child {
      justify-self: center;
    }
  }
}

.empty-equipaments {
  padding: rem(80) 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .not-found-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
    }
  }
}
