.main-equipaments-page {
  padding: rem(30) 0;

  .equipaments-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(24);
  }

  .button-new-equipament {
    width: rem(205);
  }
}

@media (min-width: $breakpoint-small) {
  .main-equipaments-page {
    padding: rem(40) 0;
  }
}
